.o{
    display: inline-block;
    background: var(--dark-green);
    border-radius: 12px;
    border: none;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
    transform: skew(10deg,-5deg);
    border: solid 2px black;
    box-shadow: 3px 2px 0 rgba(0,0,0,0.2);
}
/* F9B487*/

.f{
    display: block;
    border-radius: 12px;
    font-size: 1.33rem;
    background: var(--green);
    color: white;
    transform: translate(3px, -6px);
    transition: transform 100ms;
    border: solid 2px black;
    padding: 5px 10px;
    font-family: default;
    text-wrap: nowrap;
}

.o:active .f {
    transform: translate(2px,-2px);
  }

.o.active .f{
    transform: translate(2px,-2px);
}