footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0 70px 5px 70px;
    max-height: 100px;
}

footer > p{
    font-size: 1rem;
    margin: 0;
}

#github-link{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
    font-size: 1rem;
}

@media (orientation: portrait){
    footer p{
        font-size: 0.6rem;
    }
}
