#galeria{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

#galeria figure{
    width:20%;
}
#galeria video{
    width:20%;
    
    border: solid var(--green) 7px;
    border-radius: 5px;
}
#galeria figure > img{
    max-width: 100%;
    border: solid var(--green) 7px;
    border-radius: 5px;
}