#game{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#monitor{
    width: 50%;
    padding: 30px;
    padding-bottom: 0;
}

#phone-info{
    display: none;
}
#phone-info h3{
    text-align: center;
}

@media (orientation: portrait){
    .keyboard{
        display: none;
    }
    #phone-info{
        display: block;
    }
    #monitor{
        display: none;
    }
}
