#navbar{
    padding: 20px 20px;
    padding-bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: fit-content;
}
#description-wrapper{
  display: flex;
  justify-content: center; 
  flex:2;

}
#site-description{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
}
#site-description > h3{
    font-size: 0.67rem;
    word-spacing: 0.32rem;
    text-align: center;
}

#title-animation{
    display: flex;
    justify-content: center;
    gap:10px;
    
}
#title-animation .f{
  font-size: 2rem;
  background-color: var(--orange);
}

#title-animation .o{
  background-color: var(--dark-orange);
}


.nav-buttons {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex:1;
}

@media (orientation: portrait){
    #navbar{
        flex-direction: column;
        gap:20px;
    }
    #description-wrapper{
      order: 0;
    }
    #navbar .f{
      font-size: 0.8rem;
    }
    #title-animation .f{
      font-size: 1rem;
    }
    .nav-buttons{
      order:1;
    }
}
